body{
    margin: 0;
    display: grid;
}

.header{
    font-size: 20px;
    text-align: center;
    background: white ;
    font-family: "Monotype Corsiva";
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
}
.image{
    text-align: center;
}
.text{
    background-color: burlywood;
    border-radius: 20px;
}

.column{
    flex: 1;
    padding: 20px;
    background-color: burlywood;
}
ul{
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    display: flex;
    justify-content: center;
    justify-items: center;

}

li {display: inline-block}

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Monotype Corsiva";
}

li a:hover{background-color: white}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    margin-top: 600px;
    margin-bottom: 370px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.2); /* Kolor mgielnej powłoki (czarny z przeźroczystością) */
    z-index: 1; /* Wyświetl powłokę nad obrazem */
}

.overlay-text {
    position: absolute;
    bottom: 20px; /* Odległość od dołu kontenera */
    left: 50%;
    transform: translateX(-50%); /* Wyśrodkowanie tekstu poziomo */
    color: black; /* Kolor tekstu (możesz dostosować kolor tekstu) */
    font-size: 50px; /* Rozmiar tekstu */
    text-align: center; /* Wyśrodkowanie tekstu */
    z-index: 2; /* Wyświetl tekst nad powłoką */
    margin-bottom: 500px;
    font-family: "Monotype Corsiva";
}

.second-text {
    bottom: -30px;
}/* Odległość od dołu kontenera dla drugiego napisu */

.rounded-image {
    border-radius: 20px; /* Określenie promienia zaokrąglenia rogów */
}

.OFERT{
    text-align: center;
    font-family: "Monotype Corsiva";
    height: 100px;
    width: 100%;
    float: left;
}

.container2{
    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 20px;
    overflow: hidden;
}

.text-column{
    background-color: burlywood;
}
.image-column{
    text-align: center;
    border-radius: 20px;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}